
<section class="hero is-dark is-fullheight has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Avengers Endgame</h1>
      <h2 class="subtitle is-size-4-desktop">Buscador de entradas</h2>
      <code>
        {{{ result }}}
      </code>
    </div>
  </div>
  <div class="hero-foot">
    <img width="250" src="/gifs/spiderman-why.gif" alt="spiderman why">
  </div>
</section>
